html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  background: url("./assets/background.jpg");
}

.container {
  width: 1620px;
  margin: 0 auto;
}

.pt-input-ct {
  margin-bottom: 30px;
}

.pt-input-ct label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125em;
}

.pt-input-ct input,
.pt-input-ct select,
.pt-input-ct textarea,
.pt-input-ct .pt-fake-input {
  width: 100%;
  -webkit-appearance: none;
  padding: 5px 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  background-color: transparent;
  font-size: 1.5em;
  font-family: Kanit;
  color: #313131;
}

.pt-input-ct [disabled] {
  color: #8d8b86;
}

.pt-button-ct {
  text-align: center;
}

.pt-button-ct .pt-btn {
  display: inline-block;
  margin-right: 20px;
}

.pt-button-ct .pt-btn:last-child {
  margin-right: 0px;
}

.pt-btn {
  cursor: pointer;
  font-size: 1.125em;
  text-transform: uppercase;
  color: white;
  background-color: #ee7033;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 10px 40px;
  font-family: 'Kanit';
}

.pt-btn-white {
  background-color: white;
  border: 1px solid #eee;
  color: #333;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #aba7a2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #aba7a2;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #aba7a2;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #aba7a2;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #aba7a2;
}