html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  background: url("./assets/background.jpg");
}

.container {
  width: 1620px;
  margin: 0 auto;
}

.pt-input-ct {
  margin-bottom: 30px;
}

.pt-input-ct label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125em;
}

.pt-input-ct input,
.pt-input-ct select,
.pt-input-ct textarea,
.pt-input-ct .pt-fake-input {
  width: 100%;
  -webkit-appearance: none;
  padding: 5px 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  background-color: transparent;
  font-size: 1.5em;
  font-family: Kanit;
  color: #313131;
}

.pt-input-ct [disabled] {
  color: #8d8b86;
}

.pt-currency-input {
  border-bottom: 1px solid #ccc;
  display: flex;
}

.pt-currency-input input {
  border: none;
}

.pt-currency-input span {
  font-size: 1.5em;
  font-family: Kanit;
  color: #aba7a2;
  padding: 5px 10px 5px 0px;
}

.pt-button-ct {
  text-align: center;
}

.pt-button-ct .pt-btn {
  display: inline-block;
  margin-right: 20px;
}

.pt-button-ct .pt-btn:last-child {
  margin-right: 0px;
}

.pt-btn {
  cursor: pointer;
  font-size: 1.125em;
  text-transform: uppercase;
  color: white;
  background-color: #ee7033;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 10px 40px;
  font-family: 'Kanit';
}

.pt-btn:hover {
  background-color: #c2622e;
}

.pt-btn-white {
  background-color: white;
  border: 1px solid #dbdbdb;
  color: #333;
}

.pt-active.pt-btn-white,
.pt-btn-white:hover {
  background-color: #eee;
}

.pt-button-group .pt-btn {
  border-radius: 0;
  border-left: none;
}

.pt-button-group .pt-btn:last-child {
  border-radius: 0px 3px 3px 0px;
}

.pt-button-group .pt-btn:first-child {
  border-radius: 3px 0px 0px 3px;
  border-left: 1px solid #dbdbdb;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #aba7a2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #aba7a2;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #aba7a2;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #aba7a2;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #aba7a2;
}

/* XS devices */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .pt-button-group .pt-btn {
    display: block;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
  }

  .pt-sort-btns .pt-button-group {
    width: 80%;
  }

  .pt-sort-btns .pt-button-group {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .pt-sort-btns p {
    margin-right: 0px;
  }

  .pt-transaction img {
    display: none;
  }

  .pt-transaction-to {
    margin-left: 20px;
  }

  .pt-panel#confirm {
    width: 380px;
  }

  .pt-sort-btns {
    flex-direction: column;
  }
}

/* SM devices */
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* MD Devices */
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

@media (max-width: 1199px) {
  .pt-header .container {
    text-align: center;
  }

  .pt-main-columns {
    flex-wrap: wrap;
  }

  .pt-main-columns #form,
  .pt-main-columns #list,
  .pt-main-columns .pt-panel {
    flex: 1 1 100%;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

/* Large Devices */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Extra large devices */
@media (min-width: 1620px) {
  .container {
    width: 1620px;
  }
}